.task{
    display: flex;
    align-items: center;    
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: -2rem;
    width: 46rem;
    gap: 0.5rem;
}
.task textarea {
    width:39.875rem;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    resize:none;
    overflow: hidden; 
    height: 3.375rem;
    border-radius: 8px;
    color: var(--gray-100);
    text-align: start;
    line-height: 3.375rem;
    padding-left: 1rem;
}

.task a {
    background: var(--blue-dark);
    color: var(--gray-100);
    border: 0;
    border-radius: 8px;
    height:3.25rem;
    font-weight: bold;
    display: block;
    text-decoration: none;
    width:5.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;


    gap: 0.5rem;

    transition: color 0.1s, background-color 0.1s

}
.task a:hover {
    background-color: var(--blue);
}

