.taskCreatedAndRegistered {
  width: 46rem;
  margin: 0 auto;
}

.registeredTask {
  width: 46rem;
  margin: 4rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registeredTask p {
  margin: 0;
  font-size: 0.875rem; 
  font-weight: 700;
}

.taskCreates { color: var(--blue); }
.taskCompleted { color: var(--purple); }

.qtdeBottom {
  background: var(--gray-400);
  color: var(--gray-200);
  border-radius: 999px;
  padding: 2px 8px;
  margin-left: 8px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
}

.task {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: -2rem; 
}

.task textarea {
    flex: 1;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    resize: none;
    overflow: hidden;

    min-height: 3.375rem; 
    max-height: 20rem;     

    border-radius: 8px;
    color: var(--gray-100);
    padding: 1rem;
    font-size: 1rem;

    line-height: 1.4;   
}

.task button {
  background: var(--blue-dark);
  color: var(--gray-100);
  border: 0;
  border-radius: 8px;
  height: 3.375rem;
  width: 5.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  gap: 0.5rem;
  cursor: pointer;
  transition: color 0.1s, background-color 0.1s;
}

.task button:hover {
  background-color: var(--blue);
}
